* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 20px;
    color: white;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height:100vh;
    background: url(nejc-soklic-wO42Rmamef8-unsplash.jpg) rgba(0, 0, 0, 0.4);
    background-position:center ;
    background-size: cover;
    
}
nav {
 display: flex;
 justify-content:space-between;
 position: fixed;
 top: 0;
 right: 0;
 background: transparent;
}/*
.nav-logo {
    width: 160px;
    height: 100px;
    margin-left:-80% ;
}
.nav-logo img {
    width: 100%;
}*/
@media (max-width:1000px) {
    html {
        font-size: 16px;
    }
    nav {
        justify-content: center;
        right: 20%;
    }
}

nav .nav-links {
margin: 0 2rem;

}
.nav-links ul {
    list-style: none ;
}
.nav-links ul li{
    display: inline-block;
    margin: 0 1.5rem;
    position: relative;
}
.nav-links ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.125rem;/*1.125rem = 20*1.125 = 22,5px */
    cursor: pointer;

}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 1s ;
}

.nav-links ul li:hover::after,
.nav-links ul li:active::after,
.nav-links ul li:visited::after {
width: 100%;
}
.intro {
    width: 100%;
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.intro .intro-title {
font-size: 6rem;
text-shadow: 
0.025em 0.025em 0 yellow;
}
.intro .intro-description {
    font-size: 2rem;
    color: #ff0267;
   
} 

.work-section {
width: 100%;
min-height: 100vh;
display: flex;
background:#DC0457 ;
}
.project-title {
margin: 4rem auto;
}
.project-title h1 {
    font-size: 2rem;/* 2rem = 20*2 =40px*/
    font-weight: bold;
    position: relative;
}
.project-title h1::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    width: 100%;
    max-width: 1280px;
    grid-gap: 4rem; 
    margin: 2rem auto;
   
}
.project {
    background:#303841;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  .project img {
   width:100%;
    height:calc(100% - 6.8rem);
    object-fit: cover;
  }
  .code {
    color:#303841;
    transition: color 0.3s ease-out;
  }
  .project:hover .code {
    color: #ff7f50;
  }
  .project  {
    text-decoration:none;
    color:#fff;
  }
  .project p {
    font-size:1.6rem;
    margin:2rem auto;
    text-align:center;
    
  }